.ui.form .field {
  margin: 10px 0 0 0;
}
.ui.basic.label {
  margin: 0 0 10px 0;
  border: none;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
}
.ui.form .error.message,
.ui.form .success.message,
.ui.form .warning.message {
  margin: 1em 0 0 0;
}
