.landing {
  position: relative;
  background: url('../img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 250px;
  color: #ecf0f1;
}

.landing-inner h1 {
  font-size: 3rem;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
